.about {}

h2,
h3,
h4 {
	color: teal
}

.about__header {
	margin: 2rem auto;
	font-weight: 800;
	text-align: center;
	color: teal;
}

.about__card {
	display: flex;
	flex-direction: row;
	width: 20rem;
	height: 17rem;
	margin: 1rem;
	overflow: hidden;
	padding: 0;
}

.about__card:hover {
	box-shadow: 3px 3px 5px 5px rgb(0, 0, 0, 0.5);
}

.card__info {
	width: 66%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__text {
	margin-top: 2rem;
	width: 100%;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1rem;
}

.card__img-games {
	width: 100%;
	height: 100%;
	background-image: url('../assets/icons/game.svg');
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
}

.card__img-247 {
	width: 100%;
	height: 100%;
	background-image: url('../assets/icons/247.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.card__img-stats {
	width: 100%;
	height: 100%;
	background-image: url('../assets/icons/stats.svg');
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
}

.card__img-method {
	width: 100%;
	height: 100%;
	background-image: url('../assets/icons/method.svg');
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
}

img.about__game {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: fill;
}

@media only screen and (max-width: 480px) {


}