.savanna__content {
	width: 100%;
	height: 30%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

.savanna__title {
	margin: 0 auto;
	font-size: 2rem;
	text-align: left;
	position: absolute;
	top: 3%;
	z-index: 1;
}


.savanna__bg {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: center;
	margin: 0;
}

.heart__container {
	width: 20%;
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 3%;
	right: 3%;
}
.savanna__question{
	text-align: center;
}

.heart__img {
	top: 10%;
	left: 10%;
	width: 2rem;
	height: 2rem;
	z-index: 1;
}

.btn__container {
	width: 80%;
	height: 10%;
	position: absolute;
	top: 40%;
	z-index: 1;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.btn__savanna {
	margin: 0;
	width: 20%;
	height: 50%;
	padding: 0;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0);
	border-style: none;
	color: white;
	transition: 0.3s;
	border-radius: 1rem;
}

.btn__savanna:hover {
	border: 0.1rem solid white;
}

.bar__result {
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 60%;
	width: 50%;
	height: 1%;
	border: 0.5rem solid white;
	z-index: 1;
	border-radius: 0.2rem;
}

.correct {
	border: 0.1rem solid green;
	background-color: green;

}

.uncorrect {
	border: 0.1rem solid red;
	background-color: red;
}
