.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 2.5rem;
	border: black solid 0.1rem;
	font-size: 1.3rem;
	font-weight: 500;
}

.games__stats {
	width: 100%;
	padding: 0 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: red;
	font-size: 1.5rem;
	font-weight: 600;
}

.table__stats {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
}