.title__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.home__title {
	width: 50%;
	font-size: 4.5rem;
	font-weight: 800;
	color: teal
}

.hero__img {
	height: 40%;
	object-fit: cover;
	object-position: center;
}

.text__container {}

.home__text {
	margin-left: 2.5%;
	width: 95%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.001rem;
	line-height: 1.5rem;
	margin-bottom: 3rem;
}