.title__container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.home__title {
   width: 50%;
   font-size: 4rem;
   font-weight: 800;
   color: teal
}

.hero__img {
   object-fit: cover;
   object-position: center;
}

.text__container {}

.home__text {
   margin-left: 2.5%;
   width: 90%;
   text-align: center;
   font-size: 2rem;
   font-weight: 600;
   letter-spacing: 0.001rem;
   line-height: 1.9rem;
}