.footer__content {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

img.logo__icon {
	width: 6rem;
	height: 4rem;
	margin-right: 1rem;

}

img.logo__icon:hover {
	opacity: 0.75;
	border-radius: 10%;
}

.footer__text {
	margin: 0;
	font-size: 2rem;
	margin-right: 2rem;
}


.logo__slavaider,
.logo__victor {

	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-right: 2rem;
}

.logo__slavaider:hover,
.logo__victor:hover {
	opacity: 0.75;
}